Unity generated
===============
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/
/ProfileAnalyzer/

=====================================
IDE generated
=====================================
MemoryCaptures/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.bak
*.old
*.orig
*.pyc
*.idb
.idea/
.vscode/
.gradle/
ExportedObj/
*.svd
*.apk
*.aab
*.jar
.caches/

============
OS generated
============
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.apk
*.aab

============
Specific generated
============
_build/
.vs/
Recordings/
remote_config_data
!/[Aa]ssets/3rd/*.meta
!/[Aa]ssets/3rd/MaxSdk/*.meta
Assets/BuildReports
Assets/BuildReports.meta
Assets/FR2_Cache.asset
Assets/FR2_Cache.asset.meta